@import "normalize.css";

@import "abstracts/_variables"; /* needs to be imported first! */

@import "base/_base"; 
@import "base/_animations"; /*imports have _ and includes don't I guess */
@import "base/_typography";
@import "base/_utilities";

@import "layout/_main-title";
@import "layout/_nav";

@import "components/_btn";



body {
    background: url(/img/night-sky.jpg) top no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}



