.underline {
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: .1rem;
    margin-bottom: .1rem;
    letter-spacing: .5px;
    //text-align: left;

    @mixin mediumScreen {
        font-size: 5rem;
    }

    @mixin largeScreen {
        font-size: 6rem;
    }
}

h4 {
    font-family: 'roboto', 'sans-serif';
    font-size: 2rem;
    font-weight: 700;
}

.orange {
    color: orange;
} 

.about-text, .cv-text, .email-text, .tools-text {
    font-family: 'Roboto', sans-serif;
    
}

.section-about__text-content p:not(.email-text){
    font-size: 2rem;
    

    @mixin mediumScreen {
        font-size: 3.5rem;
    }
    @mixin largeScreen {
        font-size: 4.5rem;
    }
}   

.email-text {
    font-size: 2rem;
}

.section-about__text-content p:not(.intro){
    margin-bottom: 4rem;
}   



