/* colours */

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #303030;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$nav: #F5BE3F;

$nav-burger-light: #0000FF;
$nav-burger-dark: #00008B;