.wrapper {
    height: 95vh;
    
    background: url(/img/night-sky.jpg) top no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}