.nav-content {
    position: relative;
    display: none;
    @mixin mediumScreen {
        display: block;
    }
}

.nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba($nav, 0.1);
    min-height: 6vh;
    //visibility: hidden;

    &__links {
        display: flex;
        justify-content: space-around;
        flex-basis: 50%;
        list-style: none;
        margin-left: 1rem;

        @mixin largeScreen {
            flex-basis: 35%;
        }

        @mixin extraLargeScreen {
            flex-basis: 23%;
        }
    
        & a{
            color: $color-white;
            text-decoration: none;
            letter-spacing: 1px;
            font-weight: 200;
            font-size: 1.8rem;
            text-transform: uppercase;
            padding-bottom: 7px;
            position: relative;
          
             &:before,
              &:after {
                  content: '';
                  position: absolute;
                  bottom: 2px;
                  left: 0; right: 0;
                  height: 2px;
                  background-color: orange;
              }
              &:before {
                  opacity: 0;
                  transform: translateY(-8px);
                  transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
              }
              &:after {
                  opacity: 0;
                  transform: translateY(8px/2);
                  transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
              }
              &:hover,
              &:focus {
                  &:before,
                  &:after {
                      opacity: 1;
                      transform: translateY(0);
                  }
                  
              }
          }
    }
}