.section-portfolio {
  z-index: -2;
  transform: translateY(-20rem);
  padding-top: 13rem;
  padding-bottom: 2rem;
    background-color: $color-grey-light-2;
   & h4 {
       margin-bottom: 1rem;
   }
}

.text-box-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 5rem;
    flex-wrap: wrap;
  &:hover .box:not(:hover) {
    transform: scale(.98);
  }
  
}
  
  .box {
    flex-grow: 1;
    position: relative;
    padding: 1rem;
    margin: 3rem 2rem;
    /*flex: 1;*/
   flex-basis: 29%;
   box-shadow: 0 1.5rem 3rem rgba($color-black, 0.4);
   border-radius: 3px;
   transition: all .3s;
  outline-offset: 1.5rem;
  

  &:hover .card__overlay {
    opacity: 1;
  }

  &:hover .card {
   visibility: visible;
   opacity: 1;
  }
   
  
  }
  

  
  @mixin mediumScreen {
    .text-box-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
  @mixin extraLargeScreen {
    main section div.box:hover {
      outline: 1rem solid orange;
      transform: scale(1.02) translateY(-1.5rem);
    }
   }