.img-align {
    text-align: center;
    

    & img {
        max-width: 100%; /*prevents overspill when transitioning between medimum and small screens*/
        margin: 0;
        border-radius: 3px;

    }
}

.img-container {
    position: relative;
}

